<%- partial('../templates/one-col-head',{title: 'Les tags'}) %>

<%include ../templates/info-block %>
<a href="/tag/new" class="text-btn">Créer un tag</a>    
<table >
  <tr>
    <th>Nom</th>
    <th>Date de Création</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% tags.forEach(function(tag){%>
    <tr data-id="<%=tag.id%>" data-model="tag">
      <td data-attr="name"><%=tag.name%></td>
      <td data-attr="createdAt"><%=tag.createdAt.toISOString().slice(0, 10)%></td>
      <td>
	<div class="btn-space">
	  <a href="/blog/tag/<%=tag.name%>" class="btn sucess">Voir</a>
	</div>
      </td>
      <td>
	<form action="/tag/destroy/<%=tag.id%>" method="POST" >
	  <input type="hidden" name="_method" value="delete" />
	  <div class="btn-space">
	    <input type="submit" value="Supprimer" class="btn btn-red"/>
	  </div>
	  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
	</form>
      </td>
    </tr>
  <%})%>
</table>

<% include ../templates/one-col-foot %>
