<%- partial('../templates/one-col-head',{title:"Je liste les articles" }) %>
<%include ../templates/info-block %>
<a href="/blog/new" class="text-btn">Créer un article</a>    
<table>
  <tr>
    <th>Publié</th>
    <th>Titre</th>
    <th>Date de création</th>
    <th>Date de Publication</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% arts.forEach(function(art){%>
    <tr data-id="<%=art.id%>" data-model="art">
      <td style="color:<%=(art.published)? 'green': 'gray'%>" data-attr="published">●</td>
      <td data-attr="title"><%=art.title%></td>
      <td data-attr="createdAt"><%=art.createdAtDisplay%></td>
      <td data-attr="publishedAt"><%=art.publishedAtDisplay%></td>
      <td>
	<div class="btn-space">
	  <a href="/blog/show/<%= art.name%>" class="btn alt">Voir</a>
        </div>
      </td>
      <td>
	<div class="btn-space">
	  <a href="/blog/edit/<%= art.name%>" class="btn sucess">Éditer</a>
        </div>
      </td>
      <td>
	<form action="/blog/destroy/<%= art.id%>" method="POST" >
	  <input type="hidden" name="_method" value="delete" />
	  <label for="confirm">Confirmation</label>
	  <input type="checkbox" name="confirm"/>
	  <div class="btn-space">
	    <input type="submit" value="Supprimer" class="btn danger"/>
	  </div>
	  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
	</form>
      </td>
    </tr>
  <%})%>
</table>
<% include ../templates/one-col-foot %>
