<div class="text-place">
  <div class="cadre">
    <h1>Ajoute une <%=args.title%></h1>
    <% if(flash && flash.err) {%>
      <ul class="place-info">
	<%console.log(flash.err); flash.err.forEach( function(error){%>
	  <li>
            <%= error.message %>
	</li>
      </ul>
	<%})%>
    <% }%>
    <p>
      <form action="/blog/<%= args.uploadCtrl%>" method="POST" class="form">
	<input type="hidden"  name="id" value="/<%=args.artId%>"/>
	<%if(args.name){%>
	  <input name="name" placeholder="Nom"  class="form-entry"/>
	  <%}%>
        <input name="alt" placeholder="Description"  class="form-entry"/>
	<label for="image"><%= args.title%></label>	
        <input type="file" name="image" class="form-entry"/>
        <div class="btn-space">
          <input type="submit"  formenctype="multipart/form-data"  class="btn btn-green" />
        </div>
      </form>
  </div>
</div>
